<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
   </ion-tab-button>

   <ion-tab-button tab="contacto">
    <ion-icon name="call-outline"></ion-icon>
    <ion-label>Contacto</ion-label>
 </ion-tab-button>
   <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
   </ion-tab-button>

   <ion-tab-button tab="varios">
    <ion-icon name="paw-outline"></ion-icon>
    <ion-label>productos</ion-label>
 </ion-tab-button>
   

  </ion-tab-bar>
</ion-tabs>
