<ion-tabs>
  <div class="ion-tabs-bar">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon name="home"></ion-icon>
        <ion-label>inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Ofertas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="menu-tabs">
          <ion-icon name="menu"></ion-icon>
          <ion-label>Mas</ion-label>
      </ion-tab-button>
    
    </ion-tab-bar>
  </div>
</ion-tabs>
