<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
   </ion-tab-button>

   <!--<ion-tab-button tab="contacto">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
   </ion-tab-button>-->

   <!--<ion-tab-button tab="config">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Configuracion</ion-label>
   </ion-tab-button>-->

   <ion-tab-button tab="menu-tabs">
      <ion-icon name="menu" tab="menu-tabs"></ion-icon>
      <ion-label>Menu</ion-label>
   </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
