<ion-header>
  <ion-toolbar>
    <ion-title>buscar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar showCancelButton="focus" placeholder="Buscar" cancelButtonText="Custom Cancel"></ion-searchbar>

<ion-content>
  <ion-card>
    <img src="https://i.pinimg.com/564x/3e/25/6e/3e256e3c36ce7068fb1d7f7ebc04493e.jpg" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    
  </ion-card>

  <!-- fab placed to the bottom start -->
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>

