.ion-label{
    text-align: center;
    color: #fff;
    padding: 33px;
}

.searchbar{
    
    height: 35px;
    border-radius: 6px;
    border-width: 200px;
    text-align: end;
    color:#fff;
    
    
}