.ion-label{
    text-align: center;
    color: #000;
    padding: 33px;
   
}
.searchbar{
    border: radius 7px;
    border-width: 200px;    
    color:#000; 
    background-size: 35%;  
    
}
.list-header{
    color: #000;
}
.ion-page{
    background-color: #fe6f27;
    
}
.ion-img{
    width: max-content;
    height:max-content;
}

.ion-card{
    width: 200px;
    height: 300px;
    
}
.ion-cards{
    
    border-radius: 6px;
}